@use '_variables'

@mixin font()
    font-size: variables.$font-size
    font-family: variables.$font-family
    font-weight: variables.$font-weight

@mixin flex-center()
    display: flex
    align-items: center
    justify-content: center
