@use '_mixins'

@use '_variables'

@import 'reset'

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap')

html, body
    @include mixins.font()
    background-color: variables.$bg-body-themer-1

    overflow: hidden

    display: flex
    align-items: center
    justify-content: center

    text-transform: uppercase

    height: 100vh
    width: 100vw

.container-calc
    width: 500px
    height: 600px

    display: flex
    flex-direction: column

    row-gap: 20px

    .header
        width: 100%
        height: min-content

        color: variables.$text-key-light-themer-1
        font-size: 16px

        display: flex
        flex-direction: row
        justify-content: space-between

        .calc-name
            align-items: left

            text-transform: capitalize

            font-size: 25px

        .container-themer
            display: flex

            column-gap: 10px

            .name-themer
                font-size: 14px
                align-self: flex-end

                letter-spacing: 1px

                color: variables.$text-key-light-themer-1

            .switch-themer-container
                width: min-content
                height: min-content

                position: relative

                background-color: variables.$bg-toggle-keypad-themer-1

                display: flex
                flex-direction: row

                padding: 4px

                border-radius: 20px

                column-gap: 5px

                li
                    padding: 8px

                    border-radius: 20px

                    cursor: pointer

                    &:is(.active)
                        background-color: variables.$equal-key-bg-toggle-themer-1

                    &::before
                        content: ''

                        position: absolute
                        top: -15px

                        font-size: 12px

                .themer-1::before
                    content: '1'
                    left: 8px

                .themer-2::before
                    content: '2'
                    left: 50%
                    transform: translateX(-50%)

                .themer-3::before
                    content: '3'
                    right: 8px

    .screen
        width: 500px
        height: 120px

        display: flex
        align-items: center

        padding: 0 25px

        color: variables.$text-key-light-themer-1

        letter-spacing: 2px

        font-size: 1.6em

        border-radius: 10px

        background-color: variables.$bg-screen-themer-1

    .keypad
        width: 100%

        display: flex
        flex-direction: row
        flex-wrap: wrap

        background-color: variables.$bg-toggle-keypad-themer-1

        padding: 30px

        border-radius: 10px

        column-gap: 20px

        &-btns
            display: flex
            flex-wrap: wrap

            gap: 20px

            margin-bottom: 20px

            li:nth-child(n)
                width: calc(25% - 15px)
                height: 55px

                @include mixins.font()
                @include mixins.flex-center()

                border-radius: 10px
                border-bottom: 5px solid variables.$normal-key-themer-1-shadow

                color: variables.$text-key-dark-themer-1

                cursor: pointer

                background-color: variables.$normal-key-bg-themer-1

                transition: .7s easy-in-out

                &:is(.dell-btn)
                    color: variables.$text-key-light-themer-1
                    background-color: variables.$reset-key-bg-themer-1
                    border-bottom: 5px solid variables.$reset-key-themer-1-shadow

                    &:hover
                        border-width: 3px 


                &:hover
                    border-width: 3px

        .reset-btn,
        .result-btn
            text-transform: uppercase

            width: calc(50% - 10px)
            height: 60px

            border-radius: 10px

            @include mixins.font()
            @include mixins.flex-center()

            cursor: pointer

            color: variables.$text-key-light-themer-1

        .reset-btn
            background-color: variables.$reset-key-bg-themer-1
            border-bottom: 5px solid variables.$reset-key-themer-1-shadow

            &:hover
                border-width: 3px 
                

        .result-btn
            background-color: variables.$equal-key-bg-toggle-themer-1
            border-bottom: 5px solid variables.$equal-key-toggle-themer-1-shadow

            &:hover 
                border-width: 3px 

