@use '_mixins'

@use '_variables'

@import 'reset'

@import 'themer'

@import 'animation'

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap')

html, body
    @include mixins.font()

    overflow: hidden

    display: flex
    align-items: center
    justify-content: center

    text-transform: uppercase

    height: 100vh
    width: 100vw

.container-calc
    max-width: 500px
    height: 600px

    animation: toggle-themer 1.5s ease-out

    display: flex
    flex-direction: column

    row-gap: 20px

    @include mixins.responsive()
        min-width: variables.$min-width
        padding: 0 10px
    

    .header
        width: 100%
        height: min-content

        font-size: 16px

        display: flex
        flex-direction: row
        justify-content: space-between

        .calc-name
            align-items: left

            text-transform: capitalize

            font-size: 25px

        .container-themer
            display: flex

            column-gap: 10px

            .name-themer
                font-size: 14px
                align-self: flex-end

                letter-spacing: 1px


            .switch-themer-container ul
                width: min-content
                height: min-content

                position: relative

                display: flex
                flex-direction: row

                padding: 4px

                border-radius: 20px

                column-gap: 5px

                li
                    padding: 8px

                    border-radius: 20px

                    cursor: pointer

                    &:is(.active)

                    &::before
                        content: ''

                        position: absolute
                        top: -15px

                        font-size: 12px

                .themer-1::before
                    content: '1'
                    left: 8px

                .themer-2::before
                    content: '2'
                    left: 50%
                    transform: translateX(-50%)

                .themer-3::before
                    content: '3'
                    right: 8px

    .screen
        width: 100%
        height: 120px

        display: flex
        align-items: center
        justify-content: center

        overflow: hidden

        letter-spacing: 2px

        font-size: 1.6em

        border-radius: 10px
            
            

    .keypad
        width: 100%

        display: flex
        flex-direction: row
        flex-wrap: wrap

        padding: 30px

        border-radius: 10px

        column-gap: 20px

        @include mixins.responsive()
            padding: 15px

        &-btns
            display: flex
            flex-wrap: wrap

            gap: 20px

            margin-bottom: 20px

            li:nth-child(n)
                width: calc(25% - 15px)
                height: 55px

                @include mixins.font()
                @include mixins.flex-center()

                user-select: none

                border-radius: 10px

                cursor: pointer

                transition: .7s easy-in-out

                @include mixins.responsive-400()
                    height: 40px
                

                &:is(.dell-btn)

                    &:hover
                        border-width: 3px 


                &:hover
                    border-width: 3px

        .reset-btn,
        .result-btn
            text-transform: uppercase

            width: calc(50% - 10px)
            height: 60px

            user-select: none

            border-radius: 10px

            @include mixins.font()
            @include mixins.flex-center()

            cursor: pointer

            @include mixins.responsive-400()
                height: 50px

        .reset-btn

            &:hover
                border-width: 3px 
                

        .result-btn

            &:hover 
                border-width: 3px 

