@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html, body {
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  background-color: hsl(222, 26%, 31%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 100vh;
  width: 100vw;
}

.container-calc {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.container-calc .header {
  width: 100%;
  height: 50px;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-calc .header .calc-name {
  align-items: left;
  text-transform: capitalize;
  font-size: 25px;
}
.container-calc .header .container-themer {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}
.container-calc .header .container-themer .name-themer {
  font-size: 14px;
  letter-spacing: 1px;
  color: hsl(0, 0%, 100%);
}
.container-calc .header .container-themer .switch-themer-container {
  width: min-content;
  position: relative;
  background-color: hsl(223, 31%, 20%);
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-radius: 20px;
  column-gap: 5px;
}
.container-calc .header .container-themer .switch-themer-container li {
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}
.container-calc .header .container-themer .switch-themer-container li:is(.active) {
  background-color: hsl(6, 63%, 50%);
}
.container-calc .header .container-themer .switch-themer-container li::before {
  content: "";
  position: absolute;
  top: -15px;
  font-size: 12px;
}
.container-calc .header .container-themer .switch-themer-container .themer-1::before {
  content: "1";
  left: 8px;
}
.container-calc .header .container-themer .switch-themer-container .themer-2::before {
  content: "2";
  left: 50%;
  transform: translateX(-50%);
}
.container-calc .header .container-themer .switch-themer-container .themer-3::before {
  content: "3";
  right: 8px;
}
.container-calc .screen {
  width: 500px;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-size: 1.6em;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: hsl(224, 36%, 15%);
}
.container-calc .keypad {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: hsl(224, 36%, 15%);
  padding: 30px;
  border-radius: 10px;
  column-gap: 20px;
}
.container-calc .keypad-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.container-calc .keypad-btns li:nth-child(n) {
  width: calc(25% - 15px);
  height: 55px;
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-bottom: 5px solid hsl(28, 16%, 65%);
  color: hsl(221, 14%, 31%);
  cursor: pointer;
  background-color: hsl(30, 25%, 89%);
}
.container-calc .keypad-btns li:nth-child(n):is(.dell-btn) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(222, 26%, 31%);
  border-bottom: 5px solid hsl(223, 31%, 20%);
}
.container-calc .keypad-btns li:nth-child(n):is(.dell-btn):hover {
  border-bottom: 3px solid hsl(223, 31%, 20%);
}
.container-calc .keypad-btns li:nth-child(n):hover {
  border-bottom: 3px solid hsl(28, 16%, 65%);
}
.container-calc .keypad .reset-btn,
.container-calc .keypad .result-btn {
  text-transform: uppercase;
  width: calc(50% - 10px);
  height: 60px;
  border-radius: 10px;
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: hsl(30, 25%, 89%);
}
.container-calc .keypad .reset-btn {
  background-color: hsl(222, 26%, 31%);
  border-bottom: 5px solid hsl(223, 31%, 20%);
}
.container-calc .keypad .reset-btn:hover {
  border-bottom: 3px solid hsl(223, 31%, 20%);
}
.container-calc .keypad .result-btn {
  background-color: hsl(6, 63%, 50%);
  border-bottom: 5px solid hsl(6, 70%, 34%);
}
.container-calc .keypad .result-btn:hover {
  border-bottom: 3px solid hsl(6, 70%, 34%);
}

/*# sourceMappingURL=style.css.map */
